@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;


}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  max-width: 1600px;
  margin: 0 auto;
}


/* Header Styles */
header {
  background-color: #000;
  padding: 10px;
  box-shadow: 1px 2px 3px rgba(22, 22, 22, 0.452);
  align-items: center;
  justify-content: space-around;
  display: flex;
}

header h1 {
  color: #0fad85;
  text-align: center;
  font-size: 2.5rem;
}

header span {
    color: #fff;
    font-size: 3rem;
}

header .nav-primary {
  display: flex;
  gap: 15px;
  align-items: center;
}

header .nav-primary a {
    padding: 10px 15px;
    color: #fff;
    font-size: 1.3rem;
  transition: color 0.3s ease;
}

header .nav-primary a:hover {
    color: #0fad85;
    transition: color 0.5s ease;
}

header .nav-primary li a {
    color: #fff;
    padding: 10px 15px;
}

/* download Cv button */
.section-div {
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  padding: 60px;
}

.section-div div {
  margin-top: 90px;
  align-self: start;
  display: grid;
  gap: 30px;
}

.section-div h2 {
  font-size: 2.5rem;
  color: #f7f7f7  ;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.section-div p {
  font-size: 0.9rem;
  color: #f7f7f7;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

.section-div a {
  display: inline-block;
  padding: 10px 5px;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  max-width: 30%;
  border: 1px solid #f7f7f7;
}

.section-div a:hover {
  background-color: #0fad85;
  transition: background-color 0.3s ease;
}